
<header>
    <h1 id="nav-title"> THE CRAPPY BLOG </h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">All Posts</a></li>
            <li><a href="/create-post">Create a Post</a></li>
        </ul>
    </nav>    
</header>

    
