<form action="/submit" method="POST">
    <div class="row">
        <div class="col-25">
            <label for="title">Title:</label>
        </div>
        <div class="col-75">
            <input type="text" id="title" name="title" placeholder="Post title"/>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="fulltext">Words:</label>
        </div>
        <div class="col-75">
            <textarea id="fulltext" name="fulltext" rows="20" placeholder="Write those sweet words man"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Create Post"/>
    </div>
</form>