
<div class="home-text">
    <p>Welcome to my crappy blog thing.  As you can see, it is very crappy.</p>
    <p>Why is it crappy you might say?  Besides that it looks horrible?  Also, you can't save anything so that's not so great.</p>
    <img class="home-img" src="/img/murderbot01.jpg" alt="Murderbox in armor"/>
    <p>
        But you can pretend you are doing stuff.  Like viewing blog posts.  Adding blog posts (but not saving them of course).  
        And deleting blog posts (that can't be saved anyway).
    </p>
    <p>Also - I've included a picture from one of the best sci-fi series EVER for your viewing please.  
        <em>The Murderbot Diaries</em> by Martha Wells</p>
    <p>Maybe we'll call this the Sci-Fi Blog and post about our favorite sci-fi books (and fantasy  ... and speculative fiction).</p>

    <p>To Do still:</p>
    <ul>
        <li>Make menu responsive</li>
        <li>Finish Create posts</li>
        <li>Edit posts</li>
        <li>Delete posts</li>
        <li>hide Recent posts if screen too small - responsive</li>
    </ul>
</div>

